{% extends 'base_template.html' %}
{% load static %}
{% block title %} Data {% endblock %}

{% block content %}
<div class="main">
  <h3 class="title" style="margin-top:3vw;">list <span>jadwal</span></h3>
  <h5 style="text-align: center;"> untuk mata kuliah.</h5>
  <div class="button" style="margin: 4vw;">
    <a href="{% url 'stories' %}" class="btn btn-primary active" role="button" aria-pressed="true">Kembali</a>
    <a href="{% url 'tambahMatkul' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Isi jadwal</a>  
  </div>
</div>

<div class="card shadow mb-5" style="margin:5vw;">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Mata Kuliah</th>
              <th>Dosen</th>
              <th>Jumlah SKS</th>
              <th>Semester</th>
              <th>Ruang Kelas</th>
              <th>Deskripsi</th>
              <th>Hapus</th>
            </tr>
          </thead>
          <tbody>
            {% csrf_token %}
            {% for jadwal in jadwal %}
            <tr>
              <td><a href="{{ jadwal.id }}">{{ jadwal.matkul }}</a></td>
              <td>{{ jadwal.dosen }}</td>
              <td>{{ jadwal.sks }}</td>
              <td>{{ jadwal.semester }}</td>
              <td>{{ jadwal.ruang }}</td>
              <td>{{ jadwal.deskripsi }}</td>
              <td>
                <form method="POST" action="">
                  {% csrf_token %}
                  <input name="id" value="{{jadwal.id}}" type="hidden">
                  <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2"
                      style="font-size: 0.8rem;">Delete</button>
              </form>

              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
</div>

{% endblock content %}
