{% extends 'base_template.html' %}
{% load static %}
{% block title %} Detail {% endblock %}

{% block content %}

<div class="main">
    <h3 class="title" style="margin-top:5vw;"><span>detail</span></h3>
    <div class="button" style="margin: 4vw;">
      <a href="{% url 'dataMatkul' %}" class="btn btn-primary active" role="button" aria-pressed="true">Lihat Data</a>
      <a href="{% url 'tambahMatkul' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Isi jadwal</a>  
    </div>
  </div>
  <div class="title4">
    <h3 > Matkul : <span>{{ jadwal.matkul }}</span> </h3>
  </div>
  
  <table class="table table-bordered mx-5" style="width:90vw">
    <tbody>
        <tr>
            <td> Dosen </td>
            <td> {{ jadwal.dosen }} </td>
        </tr>

        <tr>
            <td> Jumlah SKS </td>
            <td> {{ jadwal.sks }} </td>
        </tr>

        <tr>
          <td> Semester </td>
          <td> {{ jadwal.semester }} </td>
      </tr>

        <tr>
          <td> Ruang Kelas </td>
          <td> {{ jadwal.ruang }} </td>
      </tr>

      <tr>
        <td> Deskripsi </td>
        <td> {{ jadwal.deskripsi }} </td>
    </tr>

    </tbody>
</table>


  {% endblock content %}
