{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/story1_style.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <title>indrikla - Story 1</title>
</head>
<body>
    <div class="header">
        <br>
        <a href="{% url 'home' %}"> Go back. </a>
        <h5> MAUNG - 1906302554 </h5>
        <h6> UNIVERSITY OF INDONESIA </h6>
    </div>

    <div class="main" id="section1">
        <div class="img-container">
            <img style="float:right" class="responsive" src="{% static 'images/Foto.png' %}" alt="Me">
        </div>
        <div class="text">
            <h3 class="title-text"> Hello; </h3>
            <h2 class="title-text"> I am Risa. </h2>
            <p> I love to create and learn new things <br>
            Sampai detik ini gatau hobi saya apa <br>tapi satu tahun ini aku nge-figma trus  <br>jadi mungkin<i> design is my passssshion</i> </p>
            <a href="#section2">Learn More</a>
        </div>  
    </div>

    <div class="konten" id="section2">
        <div id="edu">
            <h2> Educational Background</h2>
            <ul>
                <li> <i> Information System, </i> University of Indonesia (<b>2019</b>)</li>
                <li> SMAN 1 Depok (<b>2016</b>)</li>
            </ul>
        </div>
        <div>
            <h2> Find me here ;)</h2>
            <a href="https://www.twitter.com/tokkiyguk" target="_blank">
                <img class="sosmed" src="{% static 'images/twt.png' %}" alt="Twitter">
            </a>
            <a href="https://www.linkedin.com/in/indrikla" target="_blank">
                <img class="sosmed" src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
            </a>
        </div>
    </div>

</body>
</html>