{% extends 'base_template.html' %}
{% load static %}
{% block title %} Accordion {% endblock %}

{% block content %}
<style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
    body .title {
      font-family: 'Montserrat', sans-serif;
    }
</style>
<div class="main">
    <h3 class="title" style="margin-top:3vw;">Accor<span>dion</span></h3>
</div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $(".accordion").accordion();
      $('.down').click(function(){
        var $parent = $(this).parents("li");
        $parent.insertAfter($parent.next()); 
        return false;
      });
  
      $(".up").click(function () {
        var $parent = $(this).parents("li");
        $parent.insertBefore($parent.prev()); 
        return false;
      });
  });
  </script>
</head>
<body>
    <div class="container-fluid" style="margin : 5vw; margin-top:5vw; width:auto">
        <ul class="accordion" style="margin-left : 0vw;">
            <li class="card">
              <div class="card-header" id="headingOne" >
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <b>ACTIVITY</b>
                  </button>
                  <button class="btn btn-link collapsed up" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    UP
                  </button>
                  <button class="btn btn-link collapsed down" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    DOWN
                  </button>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <ul style="margin: 2vw;">
                    <li> makan</li>
                    <li> ngoding</li>
                    <li> bobo</li>
                  </ul>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="headingTwo">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>ACHIEVEMENT</b>
                  </button>
                  <button class="btn btn-link collapsed up" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    UP
                  </button>
                  <button class="btn btn-link collapsed down" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    DOWN
                  </button>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <ul  style="margin: 2vw;">
                  <li> tidur di kelas sda satu semester</li>
                  <li> tidur di kelas adbis bangun waktu mau kahoot</li>
                </ul>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="headingThree">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>ORGANIZATION</b>
                  </button>
                  <button class="btn btn-link collapsed up" type="button"  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    UP
                  </button>
                  <button class="btn btn-link collapsed down" type="button"  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    DOWN
                  </button>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <ul style="margin: 2vw;">
                  <li>bukan orang yang suka terikat organisasi :-D </li>
                </ul>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="headingThree">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>EXPERIENCE</b>
                  </button>
                  <button class="btn btn-link collapsed up" type="button"  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    UP
                  </button>
                  <button class="btn btn-link collapsed down" type="button"  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    DOWN
                  </button>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <ul style="margin: 2vw;">
                  <li>kang edit visdes figma.com/@compfest</li>
                </ul>
              </div>
            </li>
          </ul>
    </div>
{% endblock content %}