html {
    scroll-behavior: smooth;
}
h3{
    margin-bottom:-50px;
    font-style: oblique;
}

h2{
    margin-bottom:-5px;
}

p {
    line-height: 25px;
}

li {
    padding: 10px;
}

#section1 {
    height: auto;
    min-height: 500px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
    background-color: #f9f9f9;
}
  
#section2 {
    height: 500px;
    background-color: #141414;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}

.title-text {
    font-size: 50px;
}

.main {
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
}
#edu {
    padding-bottom: 45px;
}
.konten {
    color: #f9f9f9;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;
}

.header {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

.sosmed {
    margin-top: 20px;
    padding: 20px;
}

h5 {
    left: 895px;
    top: 100px;
    letter-spacing: 3px;
    margin-bottom:-20px;
}

h6 {
    letter-spacing: 2px;
    font: weight 11;
}
