{% extends 'base_template.html' %}
{% load static %}
{% block title %} Buku {% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="main">
        <h3 class="title3" style="margin-top:4vw;"> Hello, <span>{{ user }}</span> :-D </h3>
        <div class="center" style="text-align: center">
        <h6 class="title3" style="margin-bottom:7vw;">
                check out my <a href="{% url 'stories' %}">stories! </a>
        </h6>
          <p> or do you want to logout? </p>
          <a href="{% url 'logout' %}">
                  <button class="btn btn-outline-primary" id="logout">Logout</button>
          </a>
        </div>
    </div>

    {% else %}

    <div class="main">
        <h3 class="title3" style="margin-top:8vw;">
                Please  <a href="{% url 'login' %}">login! </a>
        </h3>
    </div>

    {% endif %}
    {% endblock content %}

