{% extends 'base_template.html' %}
{% load static %}
{% block title %} Buku {% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div>
  {% if user.is_authenticated %}
  <div class="main">
    <h3 class="title3" style="margin-top:4vw;">You're <span>Logged</span> In :-D </h3>
    <div class="center" style="text-align: center; margin:3vw">
      <p> do you want to logout? </p>
      <a href="{% url 'logout' %}">
              <button class="btn btn-primary active" id="logout">Logout</button>
      </a>
  </div>

  </div>
  
  {% else %}
  <div class="main">
      <h3 class="title" style="margin-top:4vw;">Sign<span>Up</span></h3>
  </div>
  <div class="login-page">
    
    <div class="login-form" >
      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Signup" style="color:white ; background-color: #8063C7;">
      </form>
      <p> ribet, login aja deh ris </p>
      <p> login <a href="{% url 'login' %}">here</a> </p>
    </div>
    
  </div>
  {% endif %}
    
</div>

{% endblock content %}
