{% extends 'base_template.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<section id="intro">
  <div class="main" class="col-lg-12">
    <h1 class="title" align="center"> I <span>design</span> <br> and <span>code</span> </h1>
    <div class="button" style="margin:3vw">
      <a href="#myworks" class="btn btn-primary active" role="button" aria-pressed="true">View My Works</a>
      <a href="https://s.id/CVindrikla" class="btn btn-outline-primary" role="button" aria-pressed="true">Resume</a>
    </div>
  </div>
  <div class="col-lg-12;" style="margin-top: 4vw; padding-left: 0px; padding-right: 0px;">
    <div style="float:left" class="col-lg-6">
      <div class=center"><img style="float:left; margin-right:2vw;  margin-left:2vw; margin-top:-1rem" class="contactme" src="{% static 'images/profile.svg' %}" alt="Me">
      </div>
        <p> Hello! I’m <b>Risa</b>, Information System student who’s interested and highly passionate
      in both Tech and the Creative industry.</p>
    </div>
    
    <div class="col-lg-6" style="display:inline-block;vertical-align:top; padding-left: 0px; padding-right: 0px;">
      <a href="https://www.instagram.com/indrikla" target="_blank">
        <img style="float:right" class="contactme" src="{% static 'images/ig.svg' %}" alt="Instagram">
      </a>
      <a href="https://www.gitlab.com/indrikla" target="_blank">
        <img style="float:right" class="contactme" src="{% static 'images/gitlab.svg' %}" alt="Gitlab">
      </a>
      <a href="https://www.linkedin.com/in/indrikla/" target="_blank">
        <img style="float:right" class="contactme" src="{% static 'images/linkedin.svg' %}" alt="LinkedIn">
      </a>  
    </div> 
  </div> 
</section>

<section id="aboutme">
  <div class="row">
  <div class="col-lg-6">
    <h1 class= title2>About me.</h1>
  <div class="col-lg-11">
    <div style="padding-right:10px;"><p>My name is <b>Indri Klarissa Ramadhanti</b>, a student who is highly passionate and interested to learn more in both Tech and the Creative industry.</p></div>
  </div>
    <div class="aboutme-box">
      <h5 class=title2>Educational background.</h5>
      <table id="edu">
        <tr> 
          <td> 2019 - 2023 </td>
          <td> Information System, UI </td>
        </tr>
        <tr> 
          <td>  </td>
          <td class="exp"> Person in Charge of Visual Design, COMPFEST 12 </td>
        </tr>
        <tr><td>  </td></tr>            <tr> 
          <td> 2016 - 2019 </td>
          <td> SMAN 1 Depok </td>
        </tr>
        <tr> 
          <td>  </td>
          <td class="exp"> Person in Charge of Visual Design, AKSI 41 Krytanova </td>
        </tr>
        <tr> 
          <td>  </td>
          <td class="exp"> Head of Graphic Design divison, CIRRUS </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="col-lg-6">
    <div class="aboutme-box">
      <h5 class=title2>Skills.</h5>
            <button id="skillsbut" type="button" class="btn btn-outline-warning" aria-haspopup="true" aria-expanded="false">
              Graphic Design 
            </button>
            <button id="skillsbut" type="button" class="btn btn-outline-warning" aria-haspopup="true" aria-expanded="false">
              Motion Design
            </button>
            <button id="skillsbut" type="button" class="btn btn-outline-warning "aria-haspopup="true" aria-expanded="false">
              Video Editing
            </button>
            <button id="skillsbut" type="button" class="btn btn-outline-warning" aria-haspopup="true" aria-expanded="false">
              Java
            </button>
            <button id="skillsbut" type="button" class="btn btn-outline-warning" aria-haspopup="true" aria-expanded="false">
              Python
            </button>
            <button id="skillsbut" type="button" class="btn btn-outline-warning "aria-haspopup="true" aria-expanded="false">
              HTML & CSS
            </button>
    </div>
    <div class="aboutme-box">
      <h5 class=title2>Achievements.</h5>
      <p>
        <b>4th Place Winner</b><br>
        Talk Talk Korea 2015 Video Category<br>
        <i>held by MOFA, KOCIS, KBS World<br></i>
      </p>
      <p>
        <b>5th Place Winner</b><br>
        GERMAS Poster Competition<br>
        <i>held by Ministry of Health, RSUP Kariadi</i>
      </p>
    </div>
  </div>
</div>
</section>

<section id="myworks">
  <div class="col-lg-12">
    <h1 class= title2><span>My works.</span></h1>
  </div>
  <div class="row" class="col-lg-12">
    <div class="column">
      <img src="{% static 'images/1.svg' %}" alt="1">
    </div>
    <div class="column">
      <img src="{% static 'images/2.svg' %}" alt="2" >
    </div>
    <div class="column">
      <img src="{% static 'images/3.svg' %}" alt="3" >
    </div>
    <div style="margin-top:2rem; text-align: right;" class="col-lg-12">
      see more of my <a href="https://www.indrikla.tumblr.com" target="_blank"><b>design</b></a> or <a href="https://www.gitlab.com/indrikla"target="_blank" ><b>code</b> </a>
    </div>
  </div>
</section>

<section id="contact">
  <div class="button"s>
    <h1 style="margin-bottom:2vw">Have a <b>Project</b> to Discuss? Let’s <b>Talk</b>.</h1>
    <a href="mailto:indriklarissa@gmail.com" class="btn btn-outline-warning  active" role="button" id="skillsbut" aria-pressed="true">Email Me</a>  
  </div>
{% endblock %}
</section>