{% extends 'base_template.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
  }
  .card:hover {
      box-shadow: 0 8px 16px 0 #8063c0;
  }
</style>
<section id="intro">
  <div class="row">
      <div class="column" style="margin-bottom: 2vw;">
        <div class="card">
          <h3 class="title2" ><span>Story 1</span></h3>
          <p>cerita satu pepewe hehehehe</p>
          <a href="{% url 'story1' %}"> keren </a>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3 class="title2" ><span>Story 5</span></h3>
        <p>suruh bikin jadwal gt de</p>
        <a href="{% url 'tambahMatkul' %}"> Isi Jadwal </a>
        <a href="{% url 'dataMatkul' %}"> Lihat Jadwal </a>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3 class="title2" ><span>Story 6</span></h3>
          <p>kegiatannya gitu</p>
          <a href="{% url 'tambahKegiatan' %}"> Isi Kegiatan </a>
          <a href="{% url 'dataKegiatan' %}"> Lihat Kegiatan </a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3 class="title2" ><span>Story 7</span></h3>
          <p>javascript + jquery</p>
          <a href="{% url 'story7' %}"> Accordion </a>
      </div>
    </div>

    <div class="column">
      <div class="card">
          <h3 class="title2" ><span>Story 8</span></h3>
          <p>cari buku pake api</p>
          <a href="{% url 'buku' %}"> Cari buku </a>
      </div>
    </div>

    <div class="column">
      <div class="card">
          <h3 class="title2" ><span>Story 9</span></h3>
          <p>lololologin</p>
          <a href="{% url 'login' %}"> login </a>
      </div>
    </div>

    <div class="column">
      <div class="card">
          <h3>?</h3>
          <p>Coming Soon.</p>
      </div>
    </div>
  </div> 
{% endblock %}
</section>